html {
	margin: 0;
	padding: 0;
	background-color: #1C1C1E;
	color: #A19E87;
}

h1 {
	font-size: 3.5em;
}

.tanks-list {
	display: flex;
	flex-wrap: wrap;
}

.description {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	width: 280px;
	color: #D6D2AC;
	text-align: center;
	font-weight: bold;
}

.item {
	flex-basis: 420px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item:hover {
	background-color: #2C2C2C;
	cursor: pointer;
}

.description span {
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 1.5em;
}

h1 img {
	height: 35px;
}

h1 span {
	margin-left: 10px;
	text-transform: uppercase;
}

h1 span:last-child {
	text-transform: lowercase;
}

h2 {
	font-size: 3em;
}

table,
a {
	border-collapse: collapse;
	width: 100%;
	font-size: 2em;
}

td {
	border: 1px solid #cccccc;
	padding: 10px;
}

.flex-div {
	display: flex;
}

.preview {
	width: 40%;
}

.preview img {
	text-align: center;
	width: 100%;
}

.characteristic {
	width: 60%;
}

a:hover {
	cursor: pointer;
}