$mainBackground: #dcbb9a;
$briefBackground: #fadcba;
$contentBackground: #ffffff;
$headingColor: #893c00;
$fontColor: #000000;
$buttonColor: #3d70a1;
$theadColor: #e0e0e0;
$formColor: #808080;
$tbodyColor: #ffffff;
$varientPage1: true;