$briefBackground: #fff178;
$headingColor: #fccd10;
$theadColor: #94a34e;
$tbodyColor: #677d01;
$mainBackground: #e0f6fd;
$contentBackground: #3b3b3b;
$fontColor: #ffffff;
$buttonColor: #f5c70f;
$formColor: $buttonColor;
$varientPage1: false;